{
  "presets": ["react", "env"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [ "transform-es2015-classes", { "loose": true } ],
    "transform-inline-environment-variables"
  ]
}
